
.main-section .panel{
	position:relative;
	padding-bottom:60px;
	border-width:0;
	background:rgba(242,242,242,0.7);
	margin-top:10px;
	margin-bottom:10px;
}
h3.intro-title{
	font-family:'Microsoft YaHei';
	margin-bottom:20px;
	color:rgba(10,110,150,1);
	padding-bottom:5px;
	border-bottom:5px solid rgba(10,110,150,0.9);
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.main-section .panel .intro-max-height{
	font-family:'Microsoft YaHei';
	text-indent:20px;
	color:rgba(0,0,0,1);
}
.main-section .panel .learn-more{
	position:absolute;
	bottom:13px;
	right:19px;
	border-radius:5px;
	padding:0.7rem 1rem;
	background: transparent;
	border: 2px solid #007095;
	color: #007095;
	font-weight: 700;
	-webkit-transition:0.2s all;
	moz-transition:0.2s all;
	transition:0.2s all;
}
.main-section .panel .learn-more:hover{
	border-color:transparent;
	-webkit-transform:scale(1.1) rotate(5deg);
}
ul.off-canvas-list li label{
	padding: 0.8rem 0.9375rem;
	cursor:pointer;
}


a.login{
	margin-bottom:1px;
}



[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error{
	font-size:0.8rem;
	font-style:normal;
}
form {
	margin: 0 0 0;
}
.reveal-modal button{
	margin-bottom:0;
}
.tab-bar-section{
	text-align:left;
}


.resume p{
	font-family:'Microsoft YaHei';
}

.github_page{
	position:fixed;
	left:10px;
	bottom:10px;
	width:40px;
	height:40px;
	background:#0090ff url('../img/blacktocat.png') no-repeat center center;
	background-size:80% 80%;
	border-radius:3px;
	opacity:0.5;
}
.github_page a{
	display:block;
	width:100%;
	height:100%;
}

.github_page{
-webkit-animation:wobble 1s .2s ease both infinite;
-moz-animation:wobble 1s .2s ease both infinite;
}
@-webkit-keyframes wobble{
0%{-webkit-transform:translateX(0%)}
15%{-webkit-transform:translateX(-25%) rotate(-5deg)}
30%{-webkit-transform:translateX(20%) rotate(3deg)}
45%{-webkit-transform:translateX(-15%) rotate(-3deg)}
60%{-webkit-transform:translateX(10%) rotate(2deg)}
75%{-webkit-transform:translateX(-5%) rotate(-1deg)}
100%{-webkit-transform:translateX(0%)}
}
@-moz-keyframes wobble{
0%{-moz-transform:translateX(0%)}
15%{-moz-transform:translateX(-25%) rotate(-5deg)}
30%{-moz-transform:translateX(20%) rotate(3deg)}
45%{-moz-transform:translateX(-15%) rotate(-3deg)}
60%{-moz-transform:translateX(10%) rotate(2deg)}
75%{-moz-transform:translateX(-5%) rotate(-1deg)}
100%{-moz-transform:translateX(0%)}
}





.bgm{
	-webkit-transition:width 0.5s;
	position:fixed;
	left:60px;
	bottom:10px;
	width:46px;
	height:40px;
}
.bgm:hover{
	width:300px;
}
